@import './mixin.styl';
.comments
  font-family: Source Sans Pro, Helvetica, sans-serif !important;
  .Collapse
    px2rem('padding-top', 100);
    mx_fc(32, $fontWhite) !important;
    .comment-box
      border-bottom: 1px solid rgba(7, 17, 27, 0.2);
      &:last-child
        border:none;
      px2rem('margin-top', 10);
      .comment-user
        mx_flex();
        align-items:center;
        mx_hlh(80,80);
        .like
          f_r();
          px2rem('margin-right',20);
        .username
          mx_flex_item(1);
      .comment-reply
        background-color: $huWhite;
        px2rem('margin-top', 10);
        px2rem('min-height', 20);
        px2rem('padding', 10);
      .comment-content
        px2rem('margin', 10);
      .comment-time
        mx_fc(24, rgba(7, 17, 27, 0.2));