@import './mixin.styl';

.news-content
  width: 100%;
  overflow: hidden;
  .recs
    mx_flex();
    mx_hlh(100, 100);
    padding-left: 20px;
    align-items: center;
    font-weight: 500;
    background-color: $huWhite;
    .title
      margin-right: 20px;
  .detail-pic
    px2rem('height', 500);
    position: relative;
    .detail-title
      mx_posbl_r(10, 0);
      mx_fc(40, #fff);
      width: 100%;
      padding: 10px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.2);